{% extends "base/form.html" %}

{% block form_title %}Вхід{% endblock %}
{% block form_action %}/dba/auth/login{% endblock %}

{% block form_content %}
{% if error %}
<div class="alert alert-error mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"/>
    </svg>
    <span>{{ error }}</span>
</div>
{% endif %}

<div class="form-control">
    <label class="label">
        <span class="label-text">Ім'я користувача</span>
    </label>
    <div class="input input-bordered flex items-center gap-2 {% if errors.username %}input-error{% endif %}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
            <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
        </svg>
        <input type="text" name="username" minlength="3" maxlength="30" required class="grow"
            placeholder="Введіть ім'я користувача" value="{{ username }}" />
    </div>
    {% if errors.username %}
    <label class="label">
        <span class="label-text-alt text-error">{{ errors.username }}</span>
    </label>
    {% endif %}
</div>

<div class="form-control">
    <label class="label">
        <span class="label-text">Пароль</span>
    </label>
    <div class="input input-bordered flex items-center gap-2 {% if errors.password %}input-error{% endif %}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
            <path fill-rule="evenodd"
                d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                clip-rule="evenodd" />
        </svg>
        <input type="password" name="password" pattern="[A-Za-z\d]{3,}" required class="grow"
            placeholder="Введіть пароль" />
    </div>
    {% if errors.password %}
    <label class="label">
        <span class="label-text-alt text-error">{{ errors.password }}</span>
    </label>
    {% endif %}
    <label class="label">
        <a href="/passwords" class="label-text-alt link link-hover">
            Забули пароль?
        </a>
    </label>
</div>
{% endblock %}

{% block form_buttons %}
<div class="form-control mt-4 flex-1">
    <button type="submit" class="btn btn-primary">Ввійти</button>
</div>
{% endblock %}
