{% extends "dba/forms/base.html" %}
{% block form_title %}Створення нового атрибута{% endblock %}
{% block form_action %}/db/tables/{{ table_name }}/attributes/new{% endblock %}

{% block form_content %}
<input type="hidden" name="table_id" value="{{ table_id }}">
<div class="form-control">
    <label for="name">Назва атрибута</label>
    <input type="text" class="input input-bordered" id="name" name="name" required
        value="{{ name }}"
        {% if errors["name"] %}class="input-error"{% endif %}
    >
    {% if errors["name"] %}
        <span class="text-sm text-red-500">
            {{ errors["name"] }}
        </span>
    {% endif %}
</div>
<div class="form-control">
    <label for="ukr_name">Назва атрибута українською</label>
    <input type="text" class="input input-bordered" id="ukr_name" name="ukr_name" required
        value="{{ ukr_name }}"
        {% if errors["ukr_name"] %}class="input-error"{% endif %}
    >
    {% if errors["ukr_name"] %}
        <span class="text-sm text-red-500">
            {{ errors["ukr_name"] }}
        </span>
    {% endif %}
</div>
<div class="form-control">
    <label for="type">Тип атрибута</label>
    <input type="text" class="input input-bordered" id="type" name="type" required
        value="{{ type }}"
        {% if errors["type"] %}class="input-error"{% endif %}
    >
    {% if errors["type"] %}
        <span class="text-sm text-red-500">
            {{ errors["type"] }}
        </span>
    {% endif %}
</div>
<div class="form-control">
    <button type="submit" class="btn btn-primary">Створити атрибут</button>
</div>
{% endblock %}
