{% extends "dba/forms/base.html" %}
{% block form_title %}Створення нової таблиці{% endblock %}
{% block form_action %}/db/tables/new{% endblock %}

{% block form_content %}
<div class="form-control">
    <label for="title">Назва таблиці</label>
    <input type="text" class="input input-bordered" id="title" name="title" required
        value="{{ title }}"
        {% if errors["title"] %}class="input-error"{% endif %}
    >
    {% if errors["title"] %}
        <span class="text-sm text-red-500">
            {{ errors["title"] }}
        </span>
    {% endif %}
</div>
<label class="cursor-pointer label">
    <span class="label-text">Приватна таблиця</span>
    <input type="checkbox" class="checkbox" id="is_private" name="is_private"
        {% if is_private %}checked{% endif %}
    >
    {% if errors["is_private"] %}
        <span class="text-sm text-red-500">
            {{ errors["is_private"] }}
        </span>
    {% endif %}
</label>
<label class="cursor-pointer label">
    <span class="label-text">Захищена таблиця</span>
    <input type="checkbox" class="checkbox" id="is_protected" name="is_protected"
        {% if is_protected %}checked{% endif %}
    >
    {% if errors["is_protected"] %}
        <span class="text-sm text-red-500">
            {{ errors["is_protected"] }}
        </span>
    {% endif %}
</label>
<div class="form-control">
    <button type="submit" class="btn btn-primary">Створити таблицю</button>
</div>
{% endblock %}
