{% extends "dba/table-base.html" %}

{% block table_title %}Database Tables{% endblock %}
{% block table_actions %}
<a href="/db/tables/new"
    class="btn btn-sm btn-primary">
    New table
</a>
{% endblock %}

{% block table_content %}
<table class="table">
    <thead>
        <tr>
            <th>Table Name</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for table in tables %}
        <tr class="hover">
            <td class="font-medium">{{ table["table_name"] }}</td>
            <td class="text-right">
                <div class="flex justify-end gap-2">
                    <a href="/db/tables/{{ table["table_name"] }}/view"
                    class="btn btn-sm btn-primary">
                        View
                    </a>
                    <a href="/db/tables/{{ table["table_name"] }}/delete"
                    class="btn btn-sm btn-error">
                        Delete
                    </a>
                </div>
            </td>
        </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %}