<!DOCTYPE html>
<html lang="en" data-theme="emerald">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>

  <link rel="icon" type="image/x-icon" href="https://images.vexels.com/content/244182/preview/dandelion-flower-color-stroke-18bf94.png">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
{% block header %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>
