{% extends "base/page_table.html" %}

{% block table_icon %}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-6 h-6">
    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
</svg>
{% endblock %}

{% block table_title %}Користувачі{% endblock %}

{% block table_actions %}
<a href="/dba/user/add"
    class="btn btn-sm btn-primary">
    Додати користувача
</a>
{% endblock %}

{% block table_header_row %}
<th>Користувач</th>
<th>Роль</th>
{% endblock %}

{% block table_body %}
{% for user in users %}
<tr>
    <td class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
        </svg>
        {{ user.username }}
    </td>
    <td>
        <div class="badge">{{ user.role }}</div>
    </td>
</tr>
{% endfor %}
{% if not users %}
<tr>
    <td colspan="2" class="text-center text-base-content/50">Немає користувачів</td>
</tr>
{% endif %}
{% endblock %}
