{% extends "base/page_table.html" %}

{% block title_page %}Атрибути таблиці '{{ table.title }}'{% endblock %}
{% block table_title %}Атрибути таблиці '{{ table.title }}'{% endblock %}

{% block table_actions %}
{% if not table.is_protected %}
    <a href="/dba/table/{{ table.id }}/attribute/new"
        class="btn btn-sm btn-primary">
        Новий атрибут
    </a>
    {#
    <a href="/dba/table/{{ table.id }}/foreign_key/new"
        class="btn btn-sm btn-primary">
        Новий зовнішній ключ
    </a>
    #}
{% endif %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/dba/table">Таблиці</a></li>
    <li>Атрибути таблиці '{{ table.title }}'</li>
{% endblock %}

{% block table_header_row %}
    <th>Назва</th>
    <th>Тип</th>
    <th>ID</th>
    <th>Унікальний</th>
    <th>Обов'язковий</th>
    <th>Обмеження</th>
    <th>Послання</th>
    {% if not table.is_protected %}
        <th class="text-right">Дії</th>
    {% endif %}
{% endblock %}

{% block table_body %}
    {% for attribute in rich_attributes %}
        <tr class="hover">
            <td>{{ attribute.name }}</td>
            <td>{{ attribute.data_type }}</td>
            <td>
                {% if attribute.is_primary %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-success">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-error">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                {% endif %}
            </td>
            <td>
                {% if attribute.is_unique %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-success">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-error">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                {% endif %}
            </td>
            <td>
                {% if not attribute.is_nullable %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-success">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-error">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                {% endif %}
            </td>
            <td>
                {% if attribute.constraint_pattern %}
                    <kbd class="kbd kbd-sm">{{ attribute.constraint_pattern }}</kbd>
                {% endif %}
            </td>
            <td>
                {% if attribute.foreign_table_id %}
                    <a href="/dba/table/{{ attribute.foreign_table_id }}/attribute" class="link">
                        {{ attribute.foreign_table_name }}
                    </a>
                {% endif %}
            </td>
            {% if not table.is_protected %}
            <td class="text-right">
                {% if not attribute.is_primary %}
                <div class="dropdown dropdown-left">
                    <button tabindex="0" role="button" class="btn btn-square btn-ghost">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-5 w-5 stroke-current">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>

                    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                        <li>
                            <a href="/dba/table/{{ table.id }}/attribute/{{ attribute.id }}/edit">
                                Редагувати
                            </a>
                        </li>
                        <li>
                            <form action="/dba/table/{{ table.id }}/attribute/{{ attribute.id }}/delete" method="post" class="w-full">
                                <button type="submit">Видалити</button>
                            </form>
                        </li>
                        </ul>
                </div>
                {% endif %}
            </td>
            {% endif %}
        </tr>
    {% endfor %}
{% endblock %}