{% extends "base/page_form.html" %}

{% block title_page %}Нова таблиця{% endblock %}
{% block form_title %}Нова таблиця{% endblock %}
{% block form_action %}/dba/table/new{% endblock %}

{% block breadcrumbs %}
    <li><a href="/dba/table">Таблиці</a></li>
    <li>Створення нової таблиці</li>
{% endblock %}

{% block form_content %}
<div class="form-control">
    <label for="title">Назва таблиці</label>
    <input type="text" class="input input-bordered {% if errors.title %}input-error{% endif %}" id="title" name="title" required
        value="{{ title }}"
        placeholder="e.g. patient"
    >
    {% if errors.title %}
    <label class="label">
        <span class="label-text-alt text-error">{{ errors.title }}</span>
    </label>
    {% endif %}
</div>
<label class="cursor-pointer label">
    <span class="label-text">Приватна таблиця</span>
    <input type="checkbox" class="checkbox" id="is_private" name="is_private"
        {% if is_private %}checked{% endif %}
    >
    {% if errors.is_private %}
    <label class="label">
        <span class="label-text-alt text-error">{{ errors.is_private }}</span>
    </label>
    {% endif %}
</label>
<label class="cursor-pointer label">
    <span class="label-text">Захищена таблиця</span>
    <input type="checkbox" class="checkbox" id="is_protected" name="is_protected"
        {% if is_protected %}checked{% endif %}
    >
    {% if errors.is_protected %}
    <label class="label">
        <span class="label-text-alt text-error">{{ errors.is_protected }}</span>
    </label>
    {% endif %}
</label>
{% endblock %}

{% block form_buttons %}
<div class="form-control mt-4 flex-1">
    <a href="/dba/table" class="btn btn-secondary">Скасувати</a>
</div>
<div class="form-control mt-4 flex-1">
    <button type="submit" class="btn btn-primary">Створити</button>
</div>
{% endblock %}
