{% extends "dba/tables/base.html" %}

{% block table_title %}Таблиці{% endblock %}
{% block table_actions %}
<a href="/db/tables/new"
    class="btn btn-sm btn-primary">
    Нова таблиця
</a>
{% endblock %}

{% block breadcrumbs %}
    <li>Таблиці</li>
{% endblock %}

{% block table_content %}
<table class="table table-pin-rows">
    <thead>
        <tr>
            <th>Назва таблиці</th>
            <th class="text-right">Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for table in tables %}
        <tr class="hover">
            <td>
                <div class="flex items-center gap-2">
                    {% if table.is_protected %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                    </svg>
                    {% endif %}
                    <span class="font-medium">{{ table.title }}</span>
                </div>
            </td>
            <td class="text-right">
                <div class="dropdown dropdown-left">
                    <button tabindex="0" role="button" class="btn btn-square btn-ghost">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-5 w-5 stroke-current">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>

                    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                      <li>
                        <a href="/db/tables/{{ table.id }}/attributes">Атрибути</a>
                      </li>
                      <li>
                        <a href="/db/tables/{% if table.is_private %}private/{% endif %}{{ table.id }}/rows">Записи</a>
                      </li>
                      {% if not table.is_protected %}
                      <li>
                        <a href="/db/tables/{% if table.is_private %}private/{% endif %}{{ table.id }}/delete"
                            Видалити таблицю
                        </a>
                      </li>
                      {% endif %}
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}