{% extends "base/page.html" %}

{% block title_page %}Домівка{% endblock %}
{% block content %}
<div class="hero" style="background-image: url(https://images6.alphacoders.com/127/1276577.jpg); min-height: calc(100vh - 64px);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Доброго дня!</h1>
      <p class="mb-5">
        Ваша відданість справі формує якісне здоров'я пацієнтів. Давайте зробимо сьогоднішній день надзвичайним,
        об'єднавши знання та досвід
      </p>
    </div>
  </div>
</div>
{% endblock %}