{% extends "base/page_table.html" %}

{% block title_page %}Кількість домашніх викликів{% endblock %}

{% block table_icon %}
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
        <polyline points="9 22 9 12 15 12 15 22"></polyline>
    </svg>
{% endblock %}

{% block table_title %}
    Кількість домашніх викликів прийнятих лікарями
{% endblock %}

{% block table_header_row %}
    <th>Лікар</th>
    <th>Кількість викликів</th>
{% endblock %}

{% block table_body %}
    {% if visits %}
        {% for visit in visits %}
        <tr>
            <td>{{ visit.doctor_name }}</td>
            <td>{{ visit.home_visits_count }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>
                Домашніх викликів не знайдено
            </td>
        </tr>
    {% endif %}
{% endblock %} 