{% extends "base/page_table.html" %}

{% block title_page %}Пацієнти, які проходили флюрографію{% endblock %}

{% block table_icon %}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z" />
    </svg>
{% endblock %}

{% block table_title %}
    Пацієнти, які проходили флюрографію
{% endblock %}

{% block table_actions %}
    <form method="get" class="join">
        <input 
            type="date" 
            name="date" 
            class="input input-bordered input-sm join-item" 
            value="{{ selected_date }}"
            required
        >
        <button type="submit" class="btn btn-sm btn-primary join-item">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </button>
    </form>
{% endblock %}

{% block table_header_row %}
    <th>Пацієнт</th>
    <th>Телефон</th>
    <th>Домашня адреса</th>
{% endblock %}

{% block table_body %}
    {% if selected_date %}
        {% if patients %}
            {% for patient in patients %}
            <tr>
                <td>{{ patient.patient_name }}</td>
                <td>{{ patient.phone or '—' }}</td>
                <td>{{ patient.address or '—' }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3" class="text-center">
                    На обрану дату пацієнтів не знайдено
                </td>
            </tr>
        {% endif %}
    {% else %}
        <tr>
            <td colspan="3" class="text-center">
                Оберіть дату для пошуку пацієнтів
            </td>
        </tr>
    {% endif %}
{% endblock %} 