{% extends "base/page_table.html" %}

{% block title_page %}Видані документи{% endblock %}

{% block table_icon %}
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
        <polyline points="14 2 14 8 20 8"></polyline>
        <line x1="16" y1="13" x2="8" y2="13"></line>
        <line x1="16" y1="17" x2="8" y2="17"></line>
        <polyline points="10 9 9 9 8 9"></polyline>
    </svg>
{% endblock %}

{% block table_title %}
    Видані документи
{% endblock %}

{% block table_header_row %}
    <th>Лікар</th>
    <th>Тип документу</th>
    <th>Дата видачі</th>
{% endblock %}

{% block table_body %}
    {% for document in documents %}
    <tr>
        <td>{{ document.doctor_name }}</td>
        <td>{{ document.document_type_name }}</td>
        <td>{{ document.issue_date }}</td>
    </tr>
    {% endfor %}
{% endblock %} 