{% extends "base/page_table.html" %}

{% block title_page %}Пацієнти з викликами додому{% endblock %}

{% block table_icon %}
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
        <polyline points="9 22 9 12 15 12 15 22"></polyline>
    </svg>
{% endblock %}

{% block table_title %}
    Пацієнти з викликами додому
{% endblock %}

{% block table_header_row %}
    <th>Пацієнт</th>
    <th>Адреса останнього виклику</th>
{% endblock %}

{% block table_body %}
    {% if patients %}
        {% for patient in patients %}
        <tr>
            <td>{{ patient.patient_name }}</td>
            <td>{{ patient.last_visit_address }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="2" class="text-center">
                Пацієнтів з викликами додому не знайдено
            </td>
        </tr>
    {% endif %}
{% endblock %} 