{% extends "base/page_table.html" %}

{% block title_page %}Фізіотерапевтичні кабінети{% endblock %}

{% block table_icon %}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
    </svg>
{% endblock %}

{% block table_title %}
    Список фізіотерапевтичних кабінетів
{% endblock %}

{% block table_header_row %}
    <th>Номер кабінету</th>
{% endblock %}

{% block table_body %}
    {% if rooms %}
        {% for room in rooms %}
        <tr>
            <td>{{ room.room_number }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center">
                Фізіотерапевтичні кабінети не знайдено
            </td>
        </tr>
    {% endif %}
{% endblock %} 