{% extends "base/page_table.html" %}

{% block title_page %}Пацієнти з процедурами{% endblock %}

{% block table_icon %}
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
        <circle cx="9" cy="7" r="4"></circle>
        <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
    </svg>
{% endblock %}

{% block table_title %}
    Пацієнти, яким проводились процедури за останні 7 днів
{% endblock %}

{% block table_header_row %}
    <th>Пацієнт</th>
{% endblock %}

{% block table_body %}
    {% if patients %}
        {% for patient in patients %}
        <tr>
            <td>{{ patient.patient_name }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center">
                Пацієнтів не знайдено
            </td>
        </tr>
    {% endif %}
{% endblock %} 